/* EL SELECTOR UNIVERSAL SELECCIONA TODOS LOS ELEMENTOS 
DEL HMTL POR SEPARADO Y LES APLICA UNAS PROPIEDADES DE CSS */

/* CTRL + Ç EN WIN */
/* CMD + SHIFT + 7 EN MAC */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* La propiedad box-sizing servirá para modificar el modelo de caja 
    por defecto, para que cuente el padding como tamaño interno de la caja */
}
[class*="col"] {
    background-color: black;
    color:white;
    border: 2px solid white;
}